* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --font01: Helvetica, sans-serif;
    --cor01: #c70000;
    --cor02: #ffc800;
    --cor03: #424242;
    --cor04: #525252;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.267);
}

.logo {
    margin: 0 100px 20px 200px;
}

.logo img {
    width: 8vw;
    max-width: 80px;
}

.logo img:hover {
    cursor: pointer;
}

.explorer {
    display: flex;
    flex-direction: column;
    margin: 10px 0 -1rem 0;
}

aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 30vw;
}

aside ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

aside ul li {
    font-family: var(--font01);
    font-weight: 600;
    font-size: .8rem;
    color: var(--cor04);
}

aside ul li:hover {
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: .5rem 1rem;
    background: none;
    border: none;
}

.buttons button img {
    width: 1.5vw;
    max-width: 20px;
}

.buttons button p {
    font-family: var(--font01);
    font-size: 1rem;

}

button#pedido {
    background-color: var(--cor02);
    border-radius: 5px;
}

button#pedido img{
    width: 2.5vw;
    max-width: 30px;
}

.buttons button p:hover {
    text-decoration: underline;
    cursor: pointer;
}

button#pedido:hover {
    background-color: #c59a00;
    cursor: pointer;
}

button#pedido p:hover {
    text-decoration: none;
}



nav ul {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
}

nav ul li {
    font-family: var(--font01);
    color: var(--cor03);
    font-weight: 600;
    padding: 0 1rem 1rem 1rem;
}

nav ul li p{
    margin-left: -1rem;
}

nav ul li:hover {
    cursor: pointer;
    border-bottom: var(--cor02) solid 3px;
    padding: 0 1rem;
}

main {
    background-color: var(--cor02);
    width: 100vw;
    box-shadow: inset 1px 1px 50px rgba(0, 0, 0, 0.459);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}

h1 {
    font-family: var(--font01);
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    font-size: 5vw;
}

h1 strong {
    color: var(--cor01);
    font-weight: 900;
}

.main-content {
    display: flex;
    flex-direction: row;

}

.main-content img {
    width: 50vw;
    height: 35vw;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.imgs {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 3rem;
}

#img1 {
    padding: 0 5rem;
    border-right: var(--cor03) solid 1px;
}

#img2 {
    margin-top: -1.4rem;
}

#img2 h2 {
    font-size: 3rem;
    color: rgb(19, 19, 19);
}

#img1 img {
    width: 5vw;
    height: 5vw;
}

#img2 img {
    width: 5vw;
    height: 6vw;
}

#img1, #img2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: var(--font01);
}

.tip {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    padding: 0 3rem;
}

.tip h2 {
    font-family: var(--font01);
    font-size: 3.5rem;
    color: var(--cor03);
}

.tip p {
    font-family: var(--font01);
}

.tip button {
    background-color: white;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-family: var(--font01);
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

.tip button:hover {
    background-color: rgb(230, 230, 230);
}

.card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    gap: 3rem;
}

.main-cards {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: center;
    gap: 2rem;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 50%;
}

.card {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.479);
    border-radius: 10px;
    padding: 0 0 1rem 0;
}

.card h3 {
    font-family: var(--font01);
    font-weight: 900;
    text-align: center;
}

.card p {
    font-family: var(--font01);
    padding: 3rem;
    text-align: center;
}

.card button {
    background-color: var(--cor02);
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
}

.card button:hover {
    background-color: #c59a00;
}

.other-cards {
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
    padding: 1rem;
}

.ocard {
    height: 500px;
    width: 463px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.479);
    border-radius: 10px;
}

.ocard h3 {
    font-family: var(--font01);
    font-weight: 900;
    text-align: center;
}

.ocard p {
    font-family: var(--font01);
    padding: 3rem;
    text-align: center;
}

.ocard button {
    background-color: var(--cor02);
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
}

footer {
    display: flex;
    flex-direction: column;
}

.footer-top {
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: var(--cor02);
    justify-content: space-around;
}

.abc {
    display: flex;
}

.footer-logo img {
    width: 10vw;
}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-text h2 {
    font-family: var(--font01);
    font-weight: 900;
    font-size: 2rem;
}

.footer-text p {
    font-family: var(--font01);
}

.footer-top button {

    background-color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
}

.footer-top button:hover {
    background-color: rgb(230, 230, 230);
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3rem;
    padding: 3rem;

}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-list ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-list h4, ul > li {
    font-family: var(--font01);
    color: var(--cor03);
}

.footer-list ul li:hover {
    cursor: pointer;
    color: var(--cor04);
}

.social-media {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem;
}

.social-media button{
    padding: .5rem;
    border-radius: 50%;
    background-color: white;
    border: solid 1px var(--cor03);
}

.social-media button img {
    width: 2rem;
}

.social-media button:hover {
   cursor: pointer;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 3rem;
    border-top: 1px solid var(--cor03);
}

.links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.footer-bottom a {
    font-family: var(--font01);
    color: var(--cor04);
}

.footer-bottom a:hover {
    cursor: pointer;
}

.direitos-autorais {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.direitos-autorais img {
    width: 3vw;
}

.direitos-autorais p {
    font-family: var(--font01);
}